// Based on <https://github.com/heliom/stylus-utils/blob/master/styles.styl-sample>
// @import "nib"

// Reset ---------------------------------------------------------------------
*
  margin: 0; padding: 0
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box

// Base ----------------------------------------------------------------------
$background-color = black

html
  font-size: 62.5%
  height: 100%

body
  font-size: 16px
  font-size: 1.6rem
  background-color: $background-color

body, legend, input, textarea, button
  font-family: "Helvetica Neue", "Lucida Grande", "Arial";
  line-height: 1.4
  color: #ccc
  font-weight: 100
  letter-spacing: 2px
a:link, a:visited { color: deeppink }
a:focus, a:hover, a:visited:hover { color: hotpink }
a
  cursor: pointer
h1,h2,h3
  font-weight: 100
  letter-spacing: 2px
.button
    vertical-align:middle
    text-align: center
    font-size: 20px
    display: inline-block
    padding: 8px 16px
    margin: 8px
    border: 1px solid #666

.draggableWindow
  cursor: move
  padding: 8px
  border: 1px solid #666
  position: absolute !important;
  .title
    text-align: center
    cursor: pointer

.canvasContainer canvas
  display: block

.setup

  textarea
    width: 350px
    height: 300px
    font-weight: normal
    padding: 8px
    font-family: Helvetica
    color: black;
    letter-spacing: 1px
.controller
  input
    color: #333
    font-weight: normal
