doctype 5
html(lang="en")
  head
    meta(charset="utf-8")
    title turing
    != css('styles.css')

  body(data-view="#{view}")
    block content


    block scripts
        != js("jquery.min.js")
        != js("jquery-ui.min.js")
        != js('scripts.js')
